
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    margin: 20px;
}

label {
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

input[type="number"],
input[type="text"],
select {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}